extends _layout.pug

block locals
  - var title = "Hello, Pug";

block content
  h1 Hello Pug!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore, sit architecto nihil at praesentium sapiente officia iste officiis incidunt cumque ab alias obcaecati debitis excepturi aut ea? Pariatur, nihil?
  img(src="../images/icon.png")
  img(src="../images/thumbnail.jpg")
